<a href="https://colab.research.google.com/github/priyaa1903/python-programming-II/blob/main/WEEK_1_(Python_Programming_II).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PYTHON PROGRAMMING**

 **WEEK 1**

Name: Priya Moolya   

Roll no:433

Class: SY EXTC-A

Section A: Fundamentals of Python

Write a Python program to print “Hello Python”

In [ ]:
s="Hello Python"
print(s)

Hello Python

2. Write a Python program to do arithmetical operations addition and division.?

In [ ]:
num1=int(input("Enter the first number :"))
num2=int(input("Enter the second number :"))
print("addition of the two numbers is:",num1+num2)

Enter the first number :4
Enter the second number :6
addition of the two numbers is: 10

3. Write a Python program to find the area of a triangle?

In [ ]:
a=int(input("Enter the base length of the triangle:"))
b=int(input("Enter the  height of the triangle:"))
c=0.5*a*b
print("Area of the triangle is :",c)

Enter the base length of the triangle:15
Enter the  height of the triangle:6
Area of the triangle is : 45.0

4. Write a Python program to swap two variables?

In [ ]:


x = input('Enter value of x: ')
y = input('Enter value of y: ')
temp = x
x = y
y = temp

print('The value of x after swapping: ',x)
print('The value of y after swapping: ',y)

Enter value of x: 4
Enter value of y: 5
The value of x after swapping:  5
The value of y after swapping:  4

5. Write a Python program to generate a random number?

In [ ]:
import random
print(random.randint(0,9))

3

Section B:
1. Write a Python program to convert kilometers to miles?

In [ ]:
km = float(input("Enter the speed in Kilometer : "))
miles = km * 0.621371
print("The speed value in Miles:\n", miles)

Enter the speed in Kilometer : 4
The speed value in Miles:
 2.485484

2. Write a Python program to convert Celsius to Fahrenheit?

In [ ]:

rc = float(input("Enter temperature in celcius:")) 
f = (c*9/5)+32 
print("Temperature in Fahrenheit is:", f)

Enter temperature in celcius:30
Temperature in Fahrenheit is: 86.0

3. Write a Python program to display calendar?

In [ ]:

import calendar
yy=2020
print(calendar.calendar(yy))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

4. Write a Python program to solve quadratic equation?

In [ ]:
import cmath 
a=int(input("Enter a:")) 
b=int(input('Enterr b:')) 
c=int(input('Enter c:')) 
d=(b**2) - (4*a*c)  
sol1=(-b-cmath.sqrt(d))/(2*a)  
sol2=(-b+cmath.sqrt(d))/(2*a) 
print('The solution are',sol1 ,'and',sol2 )

Enter a:3
Enterr b:4
Enter c:5
The solution are (-0.6666666666666666-1.1055415967851332j) and (-0.6666666666666666+1.1055415967851332j)

5. Write a Python program to swap two variables without temp variable?

In [ ]:
x =input('Enter value of x: ')
y =input('Enter value of y: ')

x, y = y, x
print("x =", x)
print("y =", y)

Enter value of x: 3
Enter value of y: 4
x = 4
y = 3

Section C:
1. Write a Python Program to Check if a Number is Positive, Negative or Zero?

In [ ]:
num = int(input("Enter a number: "))
if num > 0:
   print("The number is Positive ")
elif num == 0:
   print("The number is Zero")
else:
   print("The number is Negative ")

Enter a number: 7
The number is Positive

2. Write a Python Program to Check if a Number is Odd or Even?

In [ ]:
num = int(input("Enter a number: "))
if num/2==0:
   print("The number is even")
else:
   print("The number is odd")

Enter a number: 4
The number is odd

3. Write a Python Program to Check Leap Year?

In [ ]:
year=int(input("Enter the year to be checked:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("The year is a leap year!")
else:
    print("The year is not a leap year!")

Enter the year to be checked:2020
The year is a leap year!

4. Write a Python Program to Check Prime Number?

In [ ]:

num = int(input("Enter a number: "))
if num > 1:
   
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")
       
else:
   print(num,"is not a prime number")

Enter a number: 2
2 is a prime number

5. Write a Python Program to Print all Prime Numbers in an Interval of 1-10000?

In [ ]:
def prime(num):
    if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num,end=" ")
lower = int(input("enter lower limit: "))
upper = int(input("enter upper limit: "))
for i in range(lower, upper + 1):
   
   prime(i)

enter lower limit: 100
enter upper limit: 150
101 103 107 109 113 127 131 137 139 149

Section D:
1. Write a Python Program to Find the Factorial of a Number?

In [ ]:

num=int(input("Enter the number :"))
def factorial(num):
  fact=1
  for i in range(1, num+1):
    facto=fact * i
    print("Factorial of", num," is ",facto)

Enter the number :4

2. Write a Python Program to Display the multiplication Table?

In [ ]:
number = int(input ("Enter the number to print the multiplication table: "))    
print ("The Multiplication Table of: ", number)   
for count in range(1, 11):      
    mul= number * count   
    print (number, 'x', count, '=',mul)

Enter the number to print the multiplication table: 3
The Multiplication Table of:  3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

3. Write a Python Program to Print the Fibonacci sequence?

In [6]:
nterm=int (input("Enter the terms to be printed:"))
n1=0
n2=1
count=0

if nterm<=0:
  print("Please enter a positive integer, the given number is not valid")

elif nterm==1:
  print ("The Fibonacci sequence of the number upto:",nterm, ":") 
  print(n1)

else:
    print ("The Fibonacci sequence of the number is:")
    while count <nterm:
      print (n1)
      nth=n1+n2
      n1=n2 

      n2=nth 
      count +=1

Enter the terms to be printed:10
The Fibonacci sequence of the number is:
0
1
1
2
3
5
8
13
21
34

4. Write a Python Program to Check Armstrong Number?

In [7]:
num = int(input("Enter a number: "))


sum = 0

temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print("The number is an Armstrong number")
else:
   print("The number is not an Armstrong number")

Enter a number: 534
The number is not an Armstrong number

5. Write a Python Program to Find Armstrong Number in an Interval?

In [12]:
lower = int(input("Enter lower number: "))
upper = int(input("Enter upper number: "))
order = len(str(num))

for num in range(lower, upper + 1):

    
  
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
      
       temp //= 10

   if num == sum:
       print(num)

Enter lower number: 100
Enter upper number: 500
153
370
371
407

6. Write a Python Program to Find the Sum of Natural Numbers?

In [15]:
num = int(input('Enter a number: '))
sum = 0
x = 1
while x <= num:
 sum += x 
 x += 1
print('The sum of natural number =',sum)

Enter a number: 2
The sum of natural number = 3

Section E:
1. Write a Python Program to find sum of array?

In [18]:
num= [10, 25, 38, 4, 15];    
sum=0  
for i in range(0, len(num)):

  sum = sum + num[i];

print("Sum of all the elements of an array: " + str(sum));

Sum of all the elements of an array: 92

2. Write a Python Program to find largest element in an array?

In [19]:
num= [10, 25, 38, 4, 15];        
max = num[0];    

for i in range(0, len(num)):    
      
   if(num[i] > max):    
       max = num[i];    
           
print("Largest element present in given array: " + str(max));

Largest element present in given array: 38

3. Write a Python Program for array rotation?

In [20]:
num= [10, 25, 38, 4, 15];        
n = 3;    
     
print("Original array: ");    
for i in range(0, len(num)):    
    print(num[i]),     
        
for i in range(0, n):    
      
    first = num[0];    
        
    for j in range(0, len(num)-1):    
           
        num[j] = num[j+1];    
                
    num[len(num)-1] = first;    
     
print();    
     
    
print("Array after left rotation: ");    
for i in range(0, len(num)):    
    print(num[i]),

Original array:
10
25
38
4
15

Array after left rotation:
4
15
10
25
38

4. Write a Python Program to Split the array and add the first part to the end?

In [21]:
def SplitArray(num, n, k):
	for i in range(0, k):
		x = num[0]
		for j in range(0, n-1):
			num[j] = num[j + 1]
		
		num[n-1] = x		
num =[10, 25, 38, 4, 15]
n = len(num)
position = 2
SplitArray(num, n, position)
for i in range(0, n):
	print(num[i], end = ' ')

38 4 15 10 25

5. Write a Python Program to check if given array is Monotonic?

In [23]:

def ismonotone(a):
    n=len(a) 
    if n==1:
        return True
    else:
        
        if all(a[i]>=a[i+1] for i in range(0,n-1) or a[i]<=a[i+1] for i in range(0,n-1)):
            return True
        else:
            return False
num =[10, 25, 38, 4, 15]
print(ismonotone(num))
sum=[1]
print(ismonotone(sum))

False
True

Section F:
1. Write a Python program to find sum of elements in list?

In [28]:
num = [20,4,12,50,7,29,23,4,5]
total=0
for ele in range(0, len(num)):
    total = total + num[ele]
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  154


2. Write a Python program to Multiply all numbers in the list?

In [32]:

def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total   
num =[10, 25, 38, 4, 15]
print(multiply(num))

570000


3. Write a Python program to find smallest number in a list?

In [36]:
num = [1,2,3,4]
smallest = min(num)
print("Smallest number in the list is :",smallest)

Smallest number in the list is : 1


4. Write a Python program to find largest number in a list?

In [56]:
num = [1, 2, 3, 14, 11, 10]
largest_number = num[0]
for number in num:
    if number > largest_number:
        largest_number = number
print(largest_number)

14


5. Write a Python program to find second largest number in a list?

In [67]:
num = [2,5,7,1,2]
num.sort()
print("Second largest element in the list is:", num[-2])

Second largest element in the list is: 5


6. Write a Python program to find N largest elements from a list?

In [68]:
num = [120, 50, 89, 170, 45, 250, 450, 340]
print("List = ",num)
n = 4
num.sort()
print("Largest integers from the List = ",num[-n:])

List =  [120, 50, 89, 170, 45, 250, 450, 340]
Largest integers from the List =  [170, 250, 340, 450]


7. Write a Python program to print even numbers in a list?

In [2]:
list = [1,2,5,3,6,11,4]

for num in list:
   
   if num % 2 == 0:
      print("The even numbers in list is:",num, end = " ")

The even numbers in list is: 2 The even numbers in list is: 6 The even numbers in list is: 4


8. Write a Python program to print odd numbers in a List?

In [1]:
list = [1,2,5,3,6,11,4]

for num in list:
   
   if num % 2 != 0:
      print("The odd numbers in list is:",num, end = " ")

The odd numbers in list is: 1 The odd numbers in list is: 5 The odd numbers in list is: 3 The odd numbers in list is: 11


9. Write a Python program to Remove empty List from List?

In [76]:
list1=[1,[],2,3,[],4]
print("The original list is : " + str(list1))
while [] in list1 :
    list1.remove([])
print("List after empty list removal : " + str(list1))

The original list is : [1, [], 2, 3, [], 4]
List after empty list removal : [1, 2, 3, 4]


10. Write a Python program to Cloning or Copying a list?

In [70]:
list1=[1,2,3,4]
list2=[5,6,7]
list1=list2
print("[list1=list2] :",list1)

[list1=list2] : [5, 6, 7]

11. Write a Python program to Count occurrences of an element in a list?

In [80]:

li=[6]
n=int(input("Enter size of list "))
for i in range(0,n):
    e=int(input("Enter element of list "))
    li.append(e)
print("Original list: ",li)

n=int(input("Enter element to be checked list: "))

print(n," has occurred ",li.count(n),"times")

Enter size of list 4
Enter element of list 1
Enter element of list 2
Enter element of list 2
Enter element of list 3
Original list:  [6, 1, 2, 2, 3]
Enter element to be checked list: 2
2  has occurred  2 times