<a href="https://colab.research.google.com/github/priyaa1903/python-programming-II/blob/main/WEEK_3(Python_Programing_II).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PYTHON PROGRAMMING**

**WEEK 3**

Name: Priya Moolya

Roll no: 43

Class: SY EXTC-A

Section A(17)

Question1

 Create a function that takes three arguments a, b, c and returns the sum of the
numbers that are evenly divided by c from the range a, b inclusive.

In [7]:
def sum_three(a,b,c):
  if a==b or b==c or c==a:
    sum=3
  else:
    sum=3
  return sum
  print(sum_three(1,1,1))
  print(sum_three(1,2,1))
  print(sum_three(1,2,3))

Question2

 Create a function that returns True if a given inequality expression is correct and
False otherwise.

In [9]:
def check(a):

    exp=eval(a)

    if exp:

        return True

    else:
      return False 
print(check("1 < 5 < 15"))
print(check("10 < 5 < 15"))

True
False

Question3

Create a function that replaces all the vowels in a string with a specified character.

In [11]:
print("Enter the String: ")
str = input()

print("Enter a character: ")
char = input()

newstr = ""
for i in range(len(str)):
    if str[i]=='a' or str[i]=='e' or str[i]=='i' or str[i]=='o' or str[i]=='u':
        newstr = newstr + char
    else:
        newstr = newstr + str[i]

print("\nOriginal String:", str)
print("New String:", newstr)

Enter the String:
banana
Enter a character:
e

Original String: banana
New String: benene

Question4

Write a function that calculates the factorial of a number recursively.

In [14]:
def factorial(n):     
    if n == 0:
        return 1    
    return n * factorial(n-1)

num = int(input('enter a number :'))
print("Factorial of", num, "is", factorial(num))

enter a number :6
Factorial of 6 is 720

Question 5

Hamming distance is the number of characters that differ between two strings.
To illustrate:

String1: &quot;abcbba&quot;

String2: &quot;abcbda&quot;

Hamming Distance: 1 - &quot;b&quot; vs. &quot;d&quot; is the only difference.

Create a function that computes the hamming distance between two strings.

In [15]:
def hamming_distance(str1, str2):
    i = 0
    count = 0
 
    while(i < len(str1)):
        if(str1[i] != str2[i]):
            count += 1
        i += 1
    return count 
str1 = "abcde"
str2 = "bcdef"
print(hamming_distance(str1, str2))

5

Section B(18)

Question 1

Create a function that takes a list of non-negative integers and strings and return a new list
without the strings.

In [17]:
l = [11,21,'h','b']

def filter_list(l):
    new_list = []
    for x in l:
        if type(x) == int:
            new_list.append(x)
    return new_list

print(filter_list(l))

[11, 21]

Question 2 

The &quot;Reverser&quot; takes a string as input and returns that string in reverse order, with the
opposite case.

In [19]:
def reverser(str):
  return str[::-1]
print(reverser("This string is reversed"))

desrever si gnirts sihT

Question 3

Your task is to unpack the list writeyourcodehere into three variables, being first,
middle, and last, with middle being everything in between the first and last element. Then
print all three variables.

In [22]:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

Question 4

Write a function that moves all elements of one type to the end of the list.

In [31]:
def move_end(array, toMove):
    i = 0
    s = len(array) - 1
    while (i < s):
        while (i < s and array[s] == toMove):
            s-=1
  
        if (array[i] == toMove):
            array[i], array[s] = array[s] , array[i]
        i += 1
    return array

arr = ['c', 'b', 'a', 'b']
k = 'a'
ans = move_end(arr, k)
for i in range(len(arr)):
    print(ans[i] ,end= " ")

c b b a

Section C(19)

Question1

Create a function that takes a string and returns a string in which each character is repeated
once.

In [32]:
def ext(str):
    return ''.join([c+c for c in str])

print(ext('String'))

SSttrriinngg


Question2

Create a function that reverses a boolean value and returns the string &quot;boolean expected&quot;
if another variable type is given.

In [33]:
def reverse(arg=None):
    return not arg if type(arg) == bool else "boolean expected"

print(reverse(True))
print(reverse(False))
print(reverse(0))
print(reverse(None))

False
True
boolean expected
boolean expected

Question3

Create a function that returns the thickness (in meters) of a piece of paper after folding it n
number of times. The paper starts off with a thickness of 0.5mm.

In [41]:
def fn(a):
    res = 0.5
    for _ in range(a):
        res *= 2
    
    return res / 1000 
print(fn(6))

0.032

Question4

Create a function that takes a single string as argument and returns an ordered list containing
the indices of all capital letters in the string.

In [42]:
def index_of_cap(word):
    indices = []
    for i in range(len(word)):
        if word[i].isupper():
             indices.append(i)
    return indices

print(index_of_cap('Pratik'))
print(index_of_cap('eDaBiT'))
print(index_of_cap('eQuINoX'))

[0]
[1, 3, 5]
[1, 3, 4, 6]

Question5

Using list comprehensions, create a function that finds all even numbers from 1 to the given
number.

In [43]:
def find_even_no(n):
    even =[x for x in range(2,n+1) if x % 2 == 0]
    return even

n = int(input('Enter a number : '))
find_even_no(n)

Enter a number : 3

[2]

Section D(20)

Question1

Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

In [44]:
def filter_list(lst):
    intlst = []
    for i in lst:
        if type(i) == int:
            intlst.append(i)
    return intlst 

filter_list([1, 2, 3, 'a', 'b', 4])

[1, 2, 3, 4]

Question2

Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

In [45]:
def add_index(lst):
    ind = 0
    index = []
    for i in lst:
        index.append(lst.index(i,ind) + i)
        ind+=1
    return index

add_index([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

Question3

Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

---

In [47]:
import math
pi = math.pi
def cone_volume(r, h):
    return round((1 / 3) * pi * r * r * h)

radius = float(input("Enter value of radius= "))
height = float(input("Enter value of height= "))
1

print( "Volume Of Cone : ", cone_volume(radius, height) )

Enter value of radius= 6
Enter value of height= 8
Volume Of Cone :  302

Question4

This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.

Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

In [48]:
def triangle(n):
    return n*(n+1)*0.5

n = int(input('Enter the trinalge number :'))
print("The {}th triangle has {} dots ".format(n,int(triangle(n))))

triangle(1)

Enter the trinalge number :3
The 3th triangle has 6 dots

1.0

Question5

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.

In [49]:
def missing_num(lst):
    total = sum([x for x in range(11)])
    sum_of_list = sum(lst)
    return total - sum_of_list

print(missing_num([1, 2, 3, 4, 6, 7, 9, 10]))

13